
<div class="center jumbotron">
  <h1>Welcome to the <br>Short Cut Keys Game</h1>

  <h2>
    ショートカットキーのタイピング練習ゲームです。
  </h2>

  <%= link_to "タイムアタック", time_attack_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "テスト", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "レッスン", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "お問い合わせ", '#', class: "btn btn-lg btn-primary" %>
</div>
