<h1>ラインオペレーション系 Game</h1>
<div class="center">
  <p>
    <input type="checkbox" id ="#" value="#" checked>
    回答を表示する場合はチェック<br>
    スペースボタンでゲームスタート
  </p>
  <h1 id=result></h1>
  <div id="timer">00:00.000</div>
  <div class="controls">
    <div class="btn" id="start">Start</div>
    <div class="btn" id="stop">Stop</div>
    <div class="btn" id="reset">Reset</div>
  </div>

  <div class="editor-container d-flex justify-content-center">
  <div id="left-editor" class="col-6" style="height: 300px; width: 300px; float:left;"><pre><code><ul>
    <li>foo</li>
    <li>baz</li>
    <li>bar</li>
</ul></pre></code></div>

    <div id="right-editor" class="col-6" style="height: 300px; width: 300px; float:right;"></div>
  </div>
</div>
