<div class="center jumbotron">
  <h1>Welcome to the <br>Short Cut Keys Game</h1>

  <h2>
    ショートカットキーのタイピング練習ゲームです。
  </h2>

  <%= link_to "ラインオペレーション系", game_line_operations_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "ゲーム2", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "ゲーム3", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "ゲーム4", '#', class: "btn btn-lg btn-primary" %>
</div>
