<footer class="footer">
  <small>
    Short Cut Keys Game
  </small>
  <nav>
    <ul>
      <li><%= link_to "ホーム",   '#' %></li>
      <li><%= link_to "レッスン一覧", '#' %></li>
      <li><%= link_to "遊び方", '#' %></li>
      <li><%= link_to "お問い合わせ", '#' %></li>
    </ul>
  </nav>
</footer>
